html, body,
h1, h2, h3, h4, h5, h6,
p, a {
	font-family: "PT Sans", sans-serif;
}


canvas {
	padding: 16pt;
}

.mdl-layout-title a,
.mdl-layout-title a:hover,
.mdl-layout-title a:focus,
.mdl-layout__header-row .mdl-navigation__link,
.mdl-layout__header-row .mdl-navigation__link:hover,
.mdl-layout__header-row .mdl-navigation__link:focus {
  color: #ffffff;
	text-decoration: none;
	outline: none;
	font-family: "PT Sans", sans-serif;
}
.active {
	background: red;
}


h1, h2, h3 {
  color: #ed6f6f;
  font-weight: 700;
}

#man-text {
  font-size: large;
}

hr {
  border-top: 1px solid rgba(255, 99, 132, .3);
}

.mdl-layout__header {
	background: #3990e5;
}

.filterbar {
	border-bottom: 1px solid #dfdfdf;
	background: transparent;
}

.DateRangePickerInput,
.DateInput__display-text,
.DateRangePickerInput .DateInput input {
	border: none;
	padding: 0;
}

.DateRangePickerInput .DateInput {
	padding: 0;
	width: auto;
	height: 64px;
	line-height: 64px;
}

.DateInput__display-text--focused {
	border: none;
	background: none;
 	color:#ef5454;
 	text-decoration: underline;
}

.DateInput__display-text--has-input {
 color:#ed6f6f
}

.DateRangePickerInput .DateRangePickerInput__arrow svg {
	fill: #757575;
}
.DateRangePickerInput .DateRangePickerInput__arrow {
	padding: 0 15px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:hover {
	background: #3990e5;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-dataTable {
	width: 100%;
	overflow-x: scroll;
}

.import-button {
  padding: 16pt 0pt;
}

.dropzone-wrap div {
	padding: 40pt;
	text-align: center;
	height: auto !important;
	width: auto !important;
	display: inline-block;
	border-style: none !important;
	background-color: rgba(225, 240, 255, 1);
}

.dropzone-wrap div.text-label {
	display: block;
	color: #777;
	font-size: 20px;
}

.overviewPanel {
	text-align: center;
	background-color: #f3f3f3;
	background-image: url('./dash-bg.jpg');
	background-size: cover;
	background-position: center 20%;
	padding: 50px 0;
}

.overviewPanel h1 {
	font-size: 72px;
	line-height: 0.75;
	color: #ffffff;
}

.overviewPanel small {
	font-size: 32px;
	font-family: inherit;
	color: #ffffff;
	opacity: 0.9;
}

.chartSection {
	padding: 50px 0;
}

.chartSection__alt {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

.helpManual-text img {
	display: block;
	margin: auto;
}

.mdl-mini-footer {
	margin-top: 100px;
}

#map {
	display: block;
	margin:auto;
	width: 80%;
	height: 500px;
	padding: 0px;
}

.map-datapoint {
	text-align: center;
}

.map-tooltip {
	font-size: 125%;
	opacity: 0;
	border-radius: 2px;
	color: #333;
	background: white;
	color: black;
	display: inline-block;
	padding: 5px;
}

.map-datapoint:hover .map-tooltip {
	opacity: 1;
}
